
<!-- footer content -->
<footer>
  <div class="pull-right">
    Janus - O visualizador financeiro da <a href="https://www.meres.com.br">Mères Escritórios Corporativos</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<div id="custom_notifications" class="custom-notifications dsp_none">
  <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
  </ul>
  <div class="clearfix"></div>
  <div id="notif-group" class="tabbed_notifications"></div>
</div>

