<!-- page content -->
<div class="right_col" role="main">
  <div class="row tile_count">
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total de Clientes</span>
      <div class="count">51</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>4% </i> desde o último mês</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total de Planos Ativos</span>
      <div class="count">68</div>
      <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> desde o último mês</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-money"></i> Ticket Médio</span>
      <div class="count">R$507</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> desde o último mês</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-bank"></i> Total Mensal</span>
      <div class="count green">R$21.761</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> desde o último mês</span>
    </div>
  </div>
</div>
<!-- /page content -->
